@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}



@media (prefers-color-scheme: dark) {
  :root {
    /* Declare dark mode color variable */
  }
}

@layer base{
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: inherit;
  }
  /* add base styling like h1, p here */
}

@layer components{
  /* add components classes here like .btn, .form-control etc here */
}


@layer utilities {
  /* add utiliy classes like .padding-large, .custom-shadow etc here */
}
